@import '../../styles/variables.scss';

.posts {
  padding: 2rem 1rem;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    justify-content: center;
    gap: 30px;

    @media screen and (max-width: $md) {
      grid-template-columns: 1fr;
    }
  }
}
