@import '../../styles/functions.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.header {
  color: #fff;
  background: url('/images/header.png');
  background-size: cover;

  &__top {
    @include flex(0, space-between, center);
    padding: 1.75rem 1rem 0 1rem;
    margin-bottom: 52px;

    &__socials {
      display: flex;
      align-self: center;
      align-items: center;
      gap: 0.5rem;

      span {
        display: grid;
        place-items: center;
        width: 30px;
        height: 30px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
      }

      hr {
        margin: 0 0.875rem;
        opacity: 0.15;
        height: 20px;
      }
    }
  }

  &__nav {
    ul {
      margin-bottom: 2rem;
      display: flex;
      justify-content: center;
      gap: 1.875rem;
      list-style: none;
      overflow-x: auto;

      li {
        font-size: 12px;
        cursor: pointer;
        white-space: nowrap;
      }
    }
  }

  &__ad {
    display: grid;
    place-content: center;
    height: 13vh;
    backdrop-filter: blur(12px);
    border-top: 1px solid rgba(255, 255, 255, 0.15);
  }
}

@media screen and (max-width: $md) {
  .header {
    background: none;
    background-color: #021e3c;

    &__top {
      padding-block: 1.25rem;
      margin-bottom: 0;

      &__socials {
        h5,
        hr {
          display: none;
        }
      }
    }

    &__nav {
      ul {
        padding: 22px 26px;
        justify-content: flex-start;
        background-color: $clr-white;
        border-bottom: 2px solid #e5e8eb;
        margin-bottom: 0;

        li {
          color: $clr-black;
          font-size: calcRem(13px);
          font-weight: 600;
        }
      }
    }

    &__ad {
      display: none;
    }
  }
}
