@import '../../styles/variables.scss';

.card {
  text-decoration: none;
  cursor: pointer;

  &__image {
    position: relative;
    height: 200px;
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 0.5rem;

    @media screen and (max-width: $md) {
      height: 250px;
    }
  }

  h3 {
    color: #000;
    opacity: 0.6;
  }
}
